{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center d-none app-loader">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="app-add-post">
        <form action="#" novalidate>
            <textarea class="form-control" rows="3" placeholder="Co masz na myśli?" required></textarea>
            <div class="invalid-feedback">Post nie może być pusty</div>
            <div class="text-end mt-2">
                <button class="btn btn-primary">Dodaj post</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="app-posts mt-3" id="index-page"></div>
    <div class="text-center mt-2">
        <div class="spinner-border app-more-posts-loader d-none" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <button class="btn btn-primary app-load-more-posts">Załaduj więcej</button>
    </div>
{% endblock %}
